
.scroll1{
color: oldlace;
    font-size: 20px;
    background-color: darkblue;
    
}
.scroll{
color: darkblue;
    font-size: 20px;
     background-color: white;
}
.list a,li  {
    display: inline-block;
     background-position: center;
        text-transform: uppercase;
        text-decoration: none;
        text-emphasis-color: bisque;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px;
        color: black;
        background-color:cadetblue;
        border-radius: 20px;
}
.form{
text-align: center;
background-color: transparent;
    font-size: 20px;
    color: ;
    color : bisque;
}
.form input[type='search']
{
    cursor: pointer;
    
}
.form input[type='submit']
{
    color: seagreen;
    cursor: pointer; 
    text-decoration:underline;
}
.search input[type='submit']
{
    color: seagreen;
    cursor: pointer; 
    text-decoration:underline;
    
}
.search2 input[type='submit']
{
    color: seagreen;
    cursor: pointer; 
    text-decoration:underline;
    margin-left: 180px;
    
}
.search2
{
    margin-left: 550px;
    font-size: 30px;
}

input[type="submit"]:hover{
    background-color:skyblue;
}
body
{
background-image: url(wallpaper1.jpg);
background-repeat: no-repeat;
    background-size: cover;
background-position: center;
background-attachment: fixed;
}
.formtitle{
    margin-top: 100px;
    margin-left: 550px;
}
.search
{
    
    background-color: transparent;
    font-size: 20px;
    margin-left: 300px;
    
}
.s_heading{
    margin-top: 60px;
    margin-left: 400px;
}
.back h1,p
{
    font-size: 30px;
    color: darkblue;
    margin-left: 100px;
    text-decoration: none;
}
.back li{
    border-radius: 2px;
    margin-left: 600px;
    font-size: 30px;
    text-decoration: none;
}
.back li,a{
     text-decoration: none;
    font: 2px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
}
a:hover{
    background-color:whitesmoke;
}
a:visited{
    color:azure;
}
a:active
{
    background-color: red;
}
a.exe2:hover,a.exe2:active
{
    font-size: 550%;
}

.list{
    margin-left: 250px;
    
}