<html>
<head>
      <div class="scroll1">
         <marquee behavior="scroll" direction="right" scrollamount="10" scrolldelay="0.1"><div class="image2">ABC !!!  Journey to your Dream !!! ABC !!! ABC !!!  Journey to your Dream !!! ABC</div></marquee>
</div>       
    <link href="tbl1.css" rel="stylesheet" type="text/css">
    </head>
<body>
    <div class="list">
         <ul>
             <li><a href="page2.php">HOME</a></li>
             <li><a href="">available_Cab</a></li>
             <li><a href="">About Us</a></li>
             <li><a href="">Cancel</a></li>
            </ul>
    </div>
    <div class="heading"><p>Available Cabs are:</p></div>
        <?php
$conn=mysql_connect("localhost","root","") or die("cant conect");
$db=mysql_select_db("cab_site") or die("can not connect to db");
$oridate=$_POST['date'];
$newdate=date("Y-m-d",strtotime($oridate));
$sql="SELECT All a.license_no,a.model,a.fare,a.no_of_bag,a.no_of_seat,a.cab_code,a.image,b.date,b.availability,b.weekdays,b.license_no
from cab a
INNER JOIN cab_schedule b
ON a.license_no=b.license_no";
$data=mysql_query($sql) or die($sql."<br/><br/>".mysql_error());
$t=0;
$c1="r";
$s=1;
while($row=mysql_fetch_assoc($data))
{
    if($row['date']==$newdate and $row['availability']==1)
    {
        $t=1;
        echo '<img height=200px width=300px src="data:image/jpeg;base64,'  . base64_encode( $row['image'] ) . '" style="margin-left: 320px;"/><input type="submit" name="submit" value="Book"style="color: seagreen;cursor: pointer; text-decoration:underline;font-size: 25px;" ><p style="color:maroon;font-size: 20px;margin-left: 320px;">License no:'.$row['license_no'].'<br>Model: '.$row['model'].' , Fare: '.$row['fare'].' <br> Bags: '.$row['no_of_bag'].' , Seat: '.$row['no_of_seat'].'</p><form action="form.php" method="post"><input hidden="text" name="license_no">';
        
    }
}
if($t==0)
{
    echo"<h2>Sorry there is no available Cab</h2>";
}
          ?>
        <div class="form1">
            <form action="form.php" method="post">
                License no.:<input hidden="text" name="license_no">
                <select name="license_no" required>
                     <?php
$sql="SELECT All a.license_no,a.model,a.fare,a.no_of_bag,a.no_of_seat,a.cab_code,a.image,b.date,b.availability,b.weekdays,b.license_no
from cab a
INNER JOIN cab_schedule b
ON a.license_no=b.license_no";
$data=mysql_query($sql) or die($sql."<br/><br/>".mysql_error());
while($row=mysql_fetch_array($data))
{
    if($newdate==$row['date'] and $row['availability']!=0)
    {
    echo'<option value="'.$row['license_no'].'">'.$row['license_no'].'</option>';
    }
}?>
                </select><br><br>
                Date:<input type="text" name="date" value="<?php echo $newdate?>" required><br><br>
                <input type="submit" name="submit" value="Continue">
            </form>
        </div>
        <div class="back1">
            <ul>
        <li><a href="page2.php">BACK</a></li>
            </ul>
        </div>
    </body>
</html>
